#!/usr/bin/env bash

set -e
DIR="$( cd "$(dirname "$0")" ; pwd -P )"
cd "$DIR"

mkdir -p "${DIR}/rules"

{%- for currRule in rules %}

cat $1 | jinja2 --strict \
   -DcurrRule={{currRule}} \
   -DfileHeaders='DO NOT UPDATE THIS FILE MANUALLY; ANY CHANGES WILL BE OVERRIDEN BY THE J2 DIR TEMPLATES' \
   -o "${DIR}/rules/{{currRule}}.yaml" templates/rules.yaml.j2

yq . "${DIR}/rules/{{currRule}}.yaml"  >  "${DIR}/rules/{{currRule}}.json"

{%- endfor %}
