propertyKeys:
{%- for vertex in schema.vertices %}
- name: Metadata.Type.{{ vertex.name }}
  dataType: String
  cardinality: SINGLE

  {%- for prop in vertex.props %}
- name: {{ vertex.name }}.{{ prop.name }}
  dataType: {{ prop.dataType|default ('String') }}
  cardinality: {{ prop.cardinality|default ('SINGLE') }}
  {%- endfor %}
{%- endfor %}
vertexLabels:
{%- for vertex in schema.vertices %}
- name: {{ vertex.name }}
  partition: {{ vertex.partition | default (false) }}
  useStatic: {{ vertex.useStatic | default (false) }}
{%- endfor %}
edgeLabels:
{%- for edge in schema.edges %}

- name: {{ edge.name }}
  multiplicity: {{ edge.multiplicity | default('MULTI')}}
  unidirected: {{ edge.unidirected | default(false)}}
{%- endfor %}
vertexIndexes:
{%- for vertex in schema.vertices %}
- name: "{{ vertex.name }}.MixedIdx"
  composite: false
  unique: false
  indexOnly: null
  mixedIndex: "search"
  propertyKeys:
  - Metadata.Type.{{ vertex.name }}
  {%- for prop in vertex.props %}
  {%- if (prop.index | default (true)) %}
  - {{ vertex.name }}.{{ prop.name }}
  {%- endif %}
  {%- endfor %}
  propertyKeysMappings: {}
{%- endfor %}